<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>SummarEase</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/animate.css') }}">

</head>

<body>

    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <nav class="main-nav">
            <a href="" class="logo">
                <img src="../static/images/logo.png" alt="">
            </a>
            <ul class="nav">
                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                <li class="scroll-to-section"><a href="#features">Features</a></li>
                <li class="scroll-to-section"><a href="#working">Our Working</a></li>
                <li class="scroll-to-section"><a href="#team">Team</a></li>
                <li>
                    <div class="gradient-button">
                        <a id="modal_trigger" href="summarize">
                            Summarize Now
                            <i class="fa fa-sign-in-alt"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Summarize your text with <br />SummerEase AI</h2>
                            <p>Provides you seamless support for your summarizing need
                                whether of news article, paragraphs or links.</p>
                        </div>
                        <div class="col-lg-12">
                            <div class="white-button first-button scroll-to-section">
                                <a href="summarize">Summarize Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="../static/images/slider-dec.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div id="features" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h4>Amazing <em>Features</em> for you</h4>
                        <img src="../static/images/heading-line-dec.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="service-item first-service">
                        <div class="icon"></div>
                        <h4>Extractive</h4>
                        <p>
                            Extractive summarization involves selecting and merging existing sentences or phrases from
                            the source text to create a summary, rather than generating new content.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="service-item second-service">
                        <div class="icon"></div>
                        <h4>Abstractive</h4>
                        <p>
                            Abstractive summarization condenses text by interpreting and rephrasing content, aiming for
                            concise summaries similar to human-written ones.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="service-item third-service">
                        <div class="icon"></div>
                        <h4>Link Support</h4>
                        <p>
                            "Link support" enables summarization tools to create brief summaries directly from web
                            content accessed via URLs. Useful in news articles.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <h4>Fast Response</h4>
                        <p>
                            The swift and rapid generation of summaries by a system or tool, ensuring quick processing
                            and delivery of summarized content in a short period.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="working" class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="section-heading">
                        <h4>Steps <em>What We Do?</em> &amp; How We Do?</h4>
                        <img src="../static/images/heading-line-dec.png" alt="">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4>Enter your text and decide its length</h4>
                                <p>Enter your text into the input box, and decide its length of the summary.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4>Choose Mode Type : Link or Text</h4>
                                <p>Choose the type of your text that it will be extracted from the link or not.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4>Get an instant summary</h4>
                                <p>Then, click "Summarize" and voilà! You will get your summary in a couple of seconds.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4>Summarize your next text</h4>
                                <p>Looking to rework more text? Use the tool as many times as you want with your custom
                                    features.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="gradient-button">
                                <a href="summarize">Try Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-image">
                        <img src="../static/images/about-right-dec.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="team" class="team-tables">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                        <h4>Meet the <em>Team</em></h4>
                        <img src="../static/images/heading-line-dec.png" alt="">
                        <p>Our dedicated team share a passion for making sophisticated technologies accessible to
                            everyone, and this web application is a testament to our collaborative efforts.</p>
                    </div>
                </div>
            </div>
            <div class="team row">
                <div class="team_cards">
                    <article class="postcard light blue">
                        <a class="postcard__img_link">
                            <img class="postcard__img" src="../static/images/mudit.jpg" alt="Image Title" />
                        </a>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title blue"><a href="#">Mudit Gupta</a></h1>
                            <div class="postcard__subtitle small">
                                <time>
                                    Project Leader & ML Expert
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">He's a Machine Learning Enthusiast and Project Lead,
                                adept at merging leadership skills with technical prowess. With extensive experience
                                in team management and innovative machine learning applications, he excels in
                                diverse fields.
                            </div>

                        </div>
                    </article>
                    <article class="postcard light blue">
                        <a class="postcard__img_link">
                            <img class="postcard__img" src="../static/images/nazim.jpg" alt="Image Title" />
                        </a>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title blue"><a href="#">Nazim H. Mazumder</a></h1>
                            <div class="postcard__subtitle small">
                                <time>
                                    NLP Specialist
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">A proficient Natural Language Processing Specialist,
                                adept at creating impactful solutions by harnessing language technologies. Their
                                expertise in developing advanced models drives innovation across various industries.
                            </div>

                        </div>
                    </article>
                </div>
                <div class="team_cards">
                    <article class="postcard light blue">
                        <a class="postcard__img_link">
                            <img class="postcard__img" src="../static/images/syed.jpg" alt="Image Title" />
                        </a>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title blue"><a href="#">Syed Saquib Abbas</a></h1>
                            <div class="postcard__subtitle small">
                                <time>
                                    Data Science Enthusiast
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">He's a Machine Learning Enthusiast and Project Lead,
                                adept at merging leadership skills with technical prowess. With extensive experience
                                in team management and innovative machine learning applications, he excels in
                                diverse fields.
                            </div>

                        </div>
                    </article>
                    <article class="postcard light blue">
                        <a class="postcard__img_link">
                            <img class="postcard__img" src="../static/images/rishabh.jpg" alt="Image Title" />
                        </a>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title blue"><a href="#">Rishabh Varshney</a></h1>
                            <div class="postcard__subtitle small">
                                <time>
                                    Web Developer
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">Web Development Guru renowned for innovative,
                                user-centric solutions. His expertise spans diverse web technologies, showcasing
                                visionary prowess in digital transformation.
                            </div>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>&nbsp;</h4>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Contact Us</h4>
                        <p>
                            <a href="https://www.linkedin.com/in/rishabh-builds/" target="_blank">Rishabh Varshney</a>
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/syed-saquib/" target="_blank">Syed Saquib Abbas</a>
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/mudit-codes/" target="_blank">Mudit Gupta</a>
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/nazim-hussain-mazumder-731735184/"
                                target="_blank">Nazim Hussain Mazumder</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Useful Links</h4>
                        <ul>
                            <p><a href="top">Home</a></p>
                            <p><a href="#features">Features</a></p>
                            <p><a href="#about">About</a></p>
                            <p><a href="summarize">Summarize</a></p>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>&nbsp;</h4>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>Made by Team Binary Alchemist with &#9829; | PIET | 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static',filename='js/animation.js') }}"></script>
</body>

</html>