@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
}

img {
    width: 100%;
    overflow: hidden;
}

::selection {
    background: #4b8ef1;
    color: #fff !important;
}

::-moz-selection {
    background: #4b8ef1;
    color: #fff !important;
}

@media (max-width: 991px) {

    html,
    body {
        overflow-x: hidden;
    }

    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .mobile-bottom-fix {
        margin-bottom: 30px;
    }

    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}



/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.header-area {
    background-color: white;
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header-area .main-nav .logo img {
    width: 230px;
    height: 80px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
    float: right;
    margin-right: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}

.header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.header-area .main-nav .nav li:nth-child(6) {
    padding-right: 0px;
    padding-left: 40px;
}

.header-area .main-nav .nav li:last-child a,
.background-header .main-nav .nav li:last-child a,
.header-area .main-nav .nav li:nth-child(6) a,
.background-header .main-nav .nav li:nth-child(6) a {
    padding: 0px 20px !important;
    font-weight: 400;
}

.header-area .main-nav .nav li:last-child a:hover,
.background-header .main-nav .nav li:last-child a:hover,
.header-area .main-nav .nav li:nth-child(6) a:hover,
.background-header .main-nav .nav li:nth-child(6) a:hover {
    color: #fff !important;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 15px;
    color: #2a2a2a;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
    color: #4b8ef1 !important;
}

.header-area .main-nav .nav li:last-child a.active {
    color: #fff !important;
}

.gradient-button a {
    display: inline-block !important;
    padding: 10px 20px !important;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 15px;
    background: rgb(19, 175, 240);
    background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
    border-radius: 23px;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all .5s;
}

.gradient-button a:hover {
    color: #fff !important;
    background: rgb(19, 175, 240);
    background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 12px;
        padding-right: 12px;
    }

    .header-area .main-nav:before {
        display: none;
    }
}

@media (max-width: 846px) {
    .header-area .main-nav .nav {
        display: none !important;
    }
}



/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 200px 0 150px 120px;
    position: relative;
    overflow: hidden;
}

.main-banner:after {
    content: '';
    background-image: url(../images/slider-left-dec.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-banner .left-content h2 {
    z-index: 2;
    position: relative;
    color: white;
    font-weight: 700;
    line-height: 70px;
    font-size: 50px;
    margin-bottom: 20px;
}

.main-banner .left-content p {
    margin-bottom: 45px;
    color: #545353;
    font-weight: 700;
    font-size: 25px;
}

.main-banner .left-content .first-button {
    margin-right: 15px;
}

.white-button a:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.main-banner .left-content .white-button {
    display: inline-block;
}

.main-banner .right-image {
    text-align: center;
    position: relative;
    z-index: 20;
}

.main-banner .right-image img {
    max-width: 710px;
}

.main-banner .left-content .white-button a {
    background-color: #4b8ef1;
    color: #fff !important;
}

.white-button a {
    display: inline-block !important;
    padding: 10px 20px !important;
    color: #4b8ef1 !important;
    text-transform: capitalize;
    font-size: 20px;
    background-color: #fff;
    border-radius: 23px;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all .5s;
    border: 1px solid white;
}

.white-button a i {
    margin-left: 5px;
    font-size: 18px;
}

.white-button a:hover {
    background-color: #4b8ef1;
    color: #fff !important;
}

.show-up {
    position: relative;
    z-index: 2;
}


/*
---------------------------------------------
Service Style
--------------------------------------------- 
*/

.section-heading {
    position: relative;
    z-index: 2;
}

.section-heading h4 {
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

.section-heading h4 em {
    font-style: normal;
    color: #4b8ef1;
}

.section-heading img {
    width: 45px;
    height: 2px;
}

.services {
    padding-top: 150px;
    position: relative;
}

.services .section-heading p {
    margin-top: 10px;
    margin-left: 18%;
    margin-right: 18%;
}

.services .container-fluid {
    padding-left: 65px;
    padding-right: 65px;
}

.services:after {
    content: '';
    background-image: url(../images/services-left-dec.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: -300px;
    width: 261px;
    height: 368px;
    z-index: 0;
}

.services:before {
    content: '';
    background-image: url(../images/services-right-dec.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 1136px;
    height: 244px;
    z-index: 0;
}

.services .section-heading {
    text-align: center;
    margin-bottom: 20px;
}

.services .section-heading .line-dec {
    margin: 0 auto;
}

.service-item {
    position: relative;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
}

.service-item .icon {
    margin-left: 0px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    transition: all .3s;
}

.service-item h4 {
    transition: all .3s;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.service-item p {
    transition: all .3s;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.service-item:hover h4,
.service-item:hover p,
.service-item:hover .text-button a {
    color: #fff;
}

.first-service .icon {
    background-image: url(../images/service-icon-01.png);
}

.first-service:hover .icon {
    background-image: url(../images/service-icon-hover-01.png);
}

.second-service .icon {
    background-image: url(../images/service-icon-02.png);
}

.second-service:hover .icon {
    background-image: url(../images/service-icon-hover-02.png);
}

.third-service .icon {
    background-image: url(../images/service-icon-03.png);
}

.third-service:hover .icon {
    background-image: url(../images/service-icon-hover-03.png);
}

.fourth-service .icon {
    background-image: url(../images/service-icon-04.png);
}

.fourth-service:hover .icon {
    background-image: url(../images/service-icon-hover-04.png);
}

.service-item:hover {
    background-image: url(../images/service-bg.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}



/*
---------------------------------------------
About Us
---------------------------------------------
*/

.about-us {
    padding-top: 130px;
    position: relative;
}

.about-us .section-heading {
    margin-bottom: 45px;
}

.about-us .section-heading,
.about-us .box-item,
.about-us p,
.about-us .box-item .gradient-button,
.about-us .box-item span {
    position: relative;
    z-index: 1;
}

.about-us .box-item {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.about-us .box-item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
    transition: all .3s;
}

.about-us .box-item p {
    margin-bottom: 0px;
}

.about-us .box-item:hover h4 {
    color: #4b8ef1;
}

.about-us .gradient-button {
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-us span {
    font-size: 14px;
    color: #7a7a7a;
}

.about-us .right-image {
    position: relative;
    z-index: 1;
}

.about-us:after {
    background-image: url(../images/about-bg.jpg);
    width: 777px;
    height: 1132px;
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}



/*
---------------------------------------------
Team
---------------------------------------------
*/


.team-tables {
    padding-top: 130px;
}

.team-tables .section-heading {
    text-align: center;
    margin-bottom: 50px;
}

.team-tables .section-heading p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.team.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.team_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
    position: relative;
    color: #fff;
    min-width: 800px;
    max-width: 800px;
    height: 80%;
}

.postcard.light {
    background-color: #e1e5ea;
}

.postcard .t-dark {
    color: #18151f;
}

.postcard a {
    color: inherit;
}

.postcard h1,
.postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.postcard .small {
    font-size: 90%;
}

.postcard .postcard__title {
    font-size: 1.75rem;
}

.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard .postcard__img_link {
    display: contents;
}

.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard .postcard__text {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    height: 100%;
}

.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.postcard:hover .postcard__bar {
    width: 180px;
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }

    .postcard .postcard__title {
        font-size: 2rem;
    }

    .postcard .postcard__tagbox {
        justify-content: start;
    }

    .postcard .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }

    .postcard .postcard__text {
        padding: 3rem;
        width: 100%;
    }

    .postcard .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }

    .postcard:nth-child(2n+1) {
        flex-direction: row;
    }

    .postcard:nth-child(2n+0) {
        flex-direction: row-reverse;
    }

    .postcard:nth-child(2n+1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
    }

    .postcard:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    }
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard.light .postcard__text:before {
        background: #e1e5ea;
    }
}

.postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
}

.blue .postcard__title:hover {
    color: #0076bd;
}

.blue .postcard__bar {
    background-color: #0076bd;
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
    .blue::before {
        background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }

    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
}


/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
    background-image: url(../images/footer-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
    padding-top: 300px;
    padding-bottom: 60px;
}

.footer-widget .logo img {
    max-width: 96px;
    margin-bottom: 30px;
}

.footer-widget h4 {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-widget p {
    margin-bottom: 15px;
}

.footer-widget p,
.footer-widget p a {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.footer-widget ul {
    display: inline;
    max-width: 40%;
    float: left;
    margin-right: 10%;
}

.footer-widget ul li {
    margin-bottom: 10px;
}

.footer-widget ul li:last-child {
    margin-bottom: 0px;
}

.footer-widget ul li a {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all .3s;
}

.footer-widget a:hover {
    opacity: 0.75;
}

footer .copyright-text p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #fff;
}

footer p a {
    color: #fff;
    transition: all .5s;
}

footer p a:hover {
    opacity: 0.75;
    color: #fff;
}



/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/

@media (max-width: 1200px) {
    .header-area .main-nav .logo h4 {
        font-size: 24px;
    }

    .header-area .main-nav .logo h4 img {
        max-width: 25px;
        margin-left: 0px;
    }

    .header-area .main-nav .nav li:last-child {
        padding-left: 20px;
    }

    .main-banner .left-content h2 {
        z-index: 2;
        position: relative;
        font-weight: 700;
        line-height: 70px;
        font-size: 50px;
        margin-bottom: 20px;
    }

    .main-banner .left-content p {
        margin-bottom: 45px;
    }
}

@media (max-width: 992px) {
    .header-area {
        background-color: #fff;
    }

    .main-banner:after {
        display: none;
    }

    .main-banner .left-content h2 {
        color: #2a2a2a;
        margin-right: 0;
    }

    .main-banner .left-content p {
        color: #afafaf;
        margin-right: 0;
    }

    .main-banner .left-content .white-button a {
        background-color: #4b8ef1;
        color: #fff !important;
    }

    .header-area .main-nav .logo h4 {
        font-size: 20px;
    }

    .main-banner .left-content {
        margin-right: 0px;
    }

    .main-banner {
        text-align: center;
        padding: 226px 0px 30px 0px;
    }

    .main-banner:before {
        display: none;
    }

    .main-banner .right-image {
        margin: 30px auto 0px auto;
        text-align: center;
    }

    .features-item {
        margin-bottom: 45px;
    }

    .last-features-item,
    .last-skill-item {
        margin-bottom: 0px !important;
    }

    .skill-item {
        margin-bottom: 30px;
    }

    .about-left-image img {
        margin-right: 0px;
        margin-bottom: 45px;
        ;
    }

    .services .naccs .menu div {
        font-size: 15px;
        font-weight: 500;
    }

    .service-item {
        text-align: center;
        margin-bottom: 30px;
    }

    .about-us .box-item {
        text-align: center;
    }

    .about-us:after {
        display: none;
    }

    .about-us .gradient-button,
    .about-us span {
        text-align: center;
        display: block;
    }

    .about-us .right-image {
        margin-top: 30px;
    }

    .service-item .icon {
        margin: 0 auto 30px auto;
    }

    .about-us .section-heading {
        text-align: center;
    }

    .about-us .left-image {
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 45px;
    }

    .team-item-regular {
        margin-bottom: 30px;
    }

    .our-portfolio .owl-nav {
        display: none !important;
    }

    .contact-info {
        margin-top: 60px;
    }

    form#contact {
        padding: 45px;
    }
}

@media (max-width: 767px) {
    .the-clients .naccs .menu div {
        text-align: center;
    }

    footer .section-heading h4 {
        color: #2a2a2a;
    }

    footer {
        padding-top: 0px;
        text-align: center;
    }

    .footer-widget ul {
        display: block;
        width: 100%;
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    .footer-widget h4 {
        margin-top: 45px;
        margin-bottom: 20px;
    }

    .header-area .main-nav .logo h4 {
        font-size: 30px;
    }

    .header-area .main-nav .logo h4 img {
        max-width: 30px;
        margin-left: 5px;
    }

    .main-banner .info-stat {
        margin-bottom: 15px;
    }

    .menu .thumb span.date {
        margin-bottom: -20px;
        display: block;
    }

    .service-item {
        text-align: center;
        padding: 30px;
    }

    .menu .thumb span.category {
        display: none;
    }

    .about-us .right-image {
        margin-top: 30px;
    }

    .service-item .icon {
        float: none;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .service-item .right-content {
        display: inline-block;
    }

    .services .naccs .menu div .thumb {
        padding: 5px;
    }

    .services .icon img {
        margin: 0px;
    }

    .services ul.nacc li.active {
        padding: 45px;
    }

    .services .naccs .menu div {
        font-size: 0px;
    }

    .the-clients .nacc .thumb .down-content {
        text-align: center;
    }

    .services ul.nacc li .right-image img {
        float: none;
    }

    .our-portfolio .section-heading,
    .about-us .section-heading,
    .about-us .about-item,
    .about-us p,
    .about-us .main-green-button {
        text-align: center;
    }

    .our-portfolio .section-heading .line-dec {
        margin: 0 auto;
    }

    .our-services .section-heading {
        margin-left: 15px;
        margin-right: 15px;
    }

    .post-item {
        margin-bottom: 30px;
    }

    .post-item .thumb img {
        max-width: 140px;
    }

    .post-item .right-content p {
        display: none;
    }

    .about-us .about-item {
        margin-top: 15px;
    }
}

